@page
@model RazorPages.Pages.Admin.IndexModel
@{
}


<h2>Admin Dashboard</h2>

<div>
    <a asp-page="/Admin/Users/Index" class="btn btn-primary">Manage Users</a>
    <a asp-page="/Admin/Products/Index" class="btn btn-primary">Manage Products</a>
    <a asp-page="/Admin/Orders/Index" class="btn btn-primary">Manage Orders</a>

</div>